<!-- Global Calendar Toolbar -->
<header>
  <mat-toolbar color="primary">
    <div class="btn-group title-center">

      <!-- Buttons for component testing -->
      <button mat-button (click)="clickGoToSignIn()" color="secondary">Signin Testing</button>
      <button mat-button (click)="clickGetCalendars()" color="secondary">Calendar Testing</button>
      <button mat-button (click)="clickGetEvents()" color="secondary">Event Testing</button>
      <button mat-button (click)="clickGetUsers()" color="secondary">User Testing</button>

      <!-- Toolbar buttons -->
      <button mat-button (click)="goToDayView()" color="secondary">Day</button>
      <button mat-button (click)="goToWeekView()" color="secondary">Week</button>
      <button mat-button (click)="goToMonthView()" color="secondary">Month</button>
      <button mat-button (click)="goToSchedule()" color="secondary">Schedule</button>
      <button mat-button (click)="goToSettings()" color="secondary">Settings</button>
    </div>
  </mat-toolbar>

  <!-- Time Display -->
  <div class="mat-card">
    <h2 class="split-para">
      {{tempID}}{{homeTimezone}} : {{homeDateAndTime}}
      <span align="right"> {{desiredTimezone}} : {{convertedDateAndTime}}</span>
    </h2>
  </div>
</header>

<router-outlet></router-outlet>

