<!-- Global Calendar Toolbar -->
<mat-toolbar color="primary">
  <div class="btn-group title-center">
    <button mat-button (click)="clickGetCalendars()" color="secondary">View Calendars</button>
    <button mat-button (click)="clickGetEvents()" color="secondary">View Events</button>
    <button mat-button color="secondary">Day</button>
    <button mat-button color="secondary">Week</button>
    <button mat-button color="secondary">Month</button>
    <button mat-button color="secondary">Year</button>
    <button mat-button color="secondary">Schedule</button>
    <button mat-button color="secondary">Settings</button>
  </div>
</mat-toolbar>

<!-- Time Display -->
<div class="mat-card">
  <h2 class="split-para">
    {{homeTimezone}} : {{homeDateAndTime}}
    <span align="right"> {{desiredTimezone}} : {{convertedDateAndTime}} </span>
  </h2>
</div>

<router-outlet></router-outlet>
