@import '~@angular/material/prebuilt-themes/purple-green.css';
table{
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: left !important;
}

.mat-header-cell{
  padding: 0px 0px 0px 20px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 20px 20px 20px 20px;
}

h2 {
  color: white;
}
