<!--Show All Users-->
<!--<h3>All Users</h3>-->

<!--<li *ngFor="let user of userList">-->
<!--  {{user.name}} : {{user.timeZone}} : {{user.userId}} : {{user.startDate}} : {{user.endDate}} : {{user.isActive}}-->
<!--</li>
<button (click)="createUser()">Post User</button>
<button (click)="deleteUser(6)">Delete User</button>
<label> <input type = "number" min = "1" #UserID> </label> <!-- #UserID <- variable to get input
<button (click)="getUserById()"> getUserById</button>
-->

<!--Version 1 Good Shows All User-->

<!--<div class="page-content page-container" id="page-content" *ngFor = "let x of userList">-->
<!--  <div class="padding">-->
<!--    <div class="row container d-flex justify-content-center">-->
<!--      <div class="col-xl-6 col-md-12">-->
<!--        <div class="card user-card-full">-->
<!--          <div class="row m-l-0 m-r-0">-->
<!--            <div class="col-sm-4 bg-c-lite-green user-profile" alt="User-Profile-Image">-->
<!--              <div class="card-block text-center text-white">-->
<!--                <h6 class="m-b-25"><img src="global.jpg" class="img-radius resize"></h6>-->
<!--                <mat-card-title class="f-w-601">{{x.name}} </mat-card-title>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="card-block">-->
<!--                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">TimeZone</p>-->
<!--                    <h6 class="text-muted f-w-400">{{x.timeZone}}</h6>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Account</h6>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">User ID</p>-->
<!--                    <h6 class="text-muted f-w-400">{{x.userId}} : {{x.name}}</h6>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">Start Date & EndDate</p>-->
<!--                    <h6 class="text-muted f-w-400">{{x.startDate}} : {{x.endDate}}</h6>-->

<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--Version 2.5-->
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <h6 class="m-b-25"><img src="global.jpg" class="img-radius resize" alt="Global pic"></h6>
                <mat-card-title class="f-w-601">{{v_name}}</mat-card-title>

              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">TimeZone</p>
                    <h6 class="text-muted f-w-400">{{v_timeZone}}</h6>
                  </div>
                </div>
                <!--Add Email-->
                <p class="m-b-10 f-w-600">Account</p>
                <h6 class="text-muted f-w-400">{{v_userId}} : {{v_name}}</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">User ID</p>
                    <h6 class="text-muted f-w-400">{{v_email}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Start Date</p>
                    <h6 class="text-muted f-w-400">{{v_startDate}}</h6>
                  </div>
                  <!--
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">EndDate</p>
                    <h6 class="text-muted f-w-400">{{v_endDate}}</h6>
                  </div>
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Version 2 Individual -->
<!--<div class="page-content page-container" id="page-content">-->
<!--  <div class="padding">-->
<!--    <div class="row container d-flex justify-content-center">-->
<!--      <div class="col-xl-6 col-md-12">-->
<!--        <div class="card user-card-full">-->
<!--          <div class="row m-l-0 m-r-0">-->
<!--            <div class="col-sm-4 bg-c-lite-green user-profile">-->
<!--              <div class="card-block text-center text-white">-->
<!--                <h6 class="f-w-601" >{{v_name}}</h6>-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-sm-8">-->
<!--              <div class="card-block">-->
<!--                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">TimeZone</p>-->
<!--                    <h6 class="text-muted f-w-400">{{v_timeZone}}</h6>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Account</h6>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">User ID</p>-->
<!--                    <h6 class="text-muted f-w-400">{{v_userId}} : {{v_name}}</h6>-->
<!--                  </div>-->
<!--                  <div class="col-sm-6">-->
<!--                    <p class="m-b-10 f-w-600">Start Date & EndDate</p>-->
<!--                    <h6 class="text-muted f-w-400">{{v_startDate}} : {{v_endDate}}</h6>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
