/*@import 'node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';*/
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
