<div align="center">

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>UserName</mat-label>
    <input matInput type = "number" min = "1" placeholder="UserName" #Id >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>

    <input  matInput type = "text" placeholder="Password" #Pass>
  </mat-form-field>
</form>
<button mat-button (click) = 'getUser1(Id.valueAsNumber)' >test</button>

<button mat-button (click) = 'getUser2(Id.valueAsNumber, Pass.value)' >Submit</button>
  <h1>{{userName}}</h1>
  
  
</div>
